Repository Kleostro/RSSence-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0 --no-warn-ignored"],
  "*.scss": "npx stylelint --fix"
}

chore: update configs
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/request_review.yml
  .github/workflows/test.yml
  .husky/pre-push
  angular.json
  eslint.config.js
  jest.config.ts
  package.json
  setup-jest.ts
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: remove unused dependencies
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/styles.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: remove unused element
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

chore: update husky scripts
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  husky_scripts/validate-commit.sh
  husky_scripts/validate-push.sh
  husky_scripts/validate-staged.sh
Due: prettier --write --ignore-unknown

chore: add code owners
  .github/CODEOWNERS
  .github/workflows/request_review.yml
Due: prettier --write --ignore-unknown

ci: update validate branch name pattern
  .validate-branch-namerc.cjs
Due: prettier --write --ignore-unknown

ci: update labeler
  .github/labeler.yml
Due: prettier --write --ignore-unknown

docs: update pull request template
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

fix: format script
  .github/workflows/format.yml
Due: prettier --write --ignore-unknown

refactor: remove unnecessary badge
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

ci: add request review action
  .github/workflows/request_review.yml
Due: prettier --write --ignore-unknown

fix: branch validation pattern example
  .validate-branch-namerc.cjs
Due: prettier --write --ignore-unknown

ci: update PR template
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

feat: implement header
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  test.txt
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement theme switch service
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

test: implemented functionality
  angular.json
  eslint.config.js
  src/app/app.component.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  test.txt
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement routing
  angular.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.scss
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/logout/logout.component.ts
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/guards/.gitkeep
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.html
  src/app/auth/pages/registration/registration.component.scss
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/pages/not-found/not-found.component.html
  src/app/core/pages/not-found/not-found.component.scss
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/pages/not-found/not-found.component.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
  src/app/home/pages/home/home.component.html
  src/app/home/pages/home/home.component.scss
  src/app/home/pages/home/home.component.spec.ts
  src/app/home/pages/home/home.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implememt user registration
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/app.config.ts
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.html
  src/app/auth/pages/registration/registration.component.scss
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/validators/validators.ts
  src/environment/environment.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: remove failing tests
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: tests
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: add taiga import
  src/app/auth/components/registration-form/registration-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: update eslint config with no-relative-path
  eslint.config.js
  package.json
  src/app/api/constants/endpoints.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/login/login.component.ts
  src/app/auth/pages/registration/registration.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/home/pages/home/home.component.spec.ts
  src/main.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: update sign-up api service
  src/app/api/constants/endpoints.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/api/types/auth-response.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement token services
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/refreshToken/refresh-token.service.ts
  src/app/api/services/token/token.service.spec.ts
  src/app/api/services/token/token.service.ts
  src/app/constants/store-keys.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: update eslint rule no-unused-import
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: user registration
  src/app/api/types/error-response.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/utils/trim-data.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: tests config
  jest.config.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

test: cover main functionality
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/utils/tests.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

Apply suggestions from code review
  src/app/api/services/refreshToken/refresh-token.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: token service
  eslint.config.js
  public/netlify.toml
  src/app/api/services/refreshToken/refresh-token.service.spec.ts
  src/app/api/services/refreshToken/refresh-token.service.ts
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/utils/trim-data.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

ci: update PR template netlify badge
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

feat: implement error interceptor with custom error
  src/app/api/interceptors/error-interceptor/error-interceptor.ts
  src/app/api/models/api-error.ts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: add zod
  package.json
  src/app/api/schemas/api-error-response.ts
  src/app/api/schemas/auth-response.ts
  src/app/api/types/auth-response.ts
  src/app/api/types/error-response.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement message service
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/refresh-token/refresh-token.service.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.ts
  src/app/shared/services/constants/message-templates.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/message.service.spec.ts
  src/app/shared/services/message.service.ts
  src/app/utils/string-template.ts
  src/app/utils/tests/trim-data.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: update auth service
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: add form loader
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: remove unnecessary template
  src/app/shared/services/constants/message-templates.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: replace taiga with primeng
  angular.json
  package.json
  src/app/app.component.html
  src/app/app.config.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
  src/app/utils/my-preset.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: update message service with prime component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/services/message.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored
