Repository Kleostro/RSSence-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0 --no-warn-ignored"],
  "*.scss": "npx stylelint --fix"
}

ci: fix branch name validation
  .validate-branch-namerc.cjs
Due: prettier --write --ignore-unknown

chore: update outdated packages
  package.json
Due: prettier --write --ignore-unknown

chore: update eslint config
  angular.json
  eslint.config.js
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: add custom rules to eslint config
  eslint-rules/my-eslint-rules.js
  eslint.config.js
  types/eslint-plugin-import.d.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: add perfectionist
  eslint-rules/my-eslint-rules.js
  eslint.config.js
  package.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement upload images
  src/app/api/schemas/images-response.ts
  src/app/api/services/images/images.service.ts
  src/app/shared/services/image-upload/image-upload.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement post editor component
  src/app/post/components/post-editor/post-editor.component.html
  src/app/post/components/post-editor/post-editor.component.scss
  src/app/post/components/post-editor/post-editor.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement pagination of posts
  src/app/api/interfaces/pagination-query.ts
  src/app/api/services/posts/posts.service.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author-facade/author-facade.service.ts
  src/app/post/components/post/post.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.scss
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/pages/posts/posts.component.html
  src/app/post/pages/posts/posts.component.ts
  src/app/post/services/post-facade/post-facade.service.ts
  src/app/post/services/post/post.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: combine the logic to get all posts and for a specific author
  src/app/api/services/posts/posts.service.ts
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author-facade/author-facade.service.ts
  src/app/post/pages/posts/posts.component.ts
  src/app/post/services/post-facade/post-facade.service.ts
  src/app/post/services/post/post.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: bring out the logic of getting me into the guard
  src/app/app.routes.ts
  src/app/auth/guards/login.guard.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: optimize requests for posts
  src/app/api/interfaces/pagination-query.ts
  src/app/api/schemas/authors-response.ts
  src/app/api/schemas/posts-response.ts
  src/app/api/schemas/users-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.ts
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-info/author-info.component.ts
  src/app/author/components/author-preview/author-preview.component.ts
  src/app/author/constants/navigation-author-page.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author-facade/author-facade.service.ts
  src/app/author/services/author/author.service.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/post/components/coauthors-list/coauthors-list.component.html
  src/app/post/components/coauthors-list/coauthors-list.component.ts
  src/app/post/components/post-avatar/post-avatar.component.html
  src/app/post/components/post-avatar/post-avatar.component.ts
  src/app/post/components/post-form/post-form.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/interfaces/post-form.ts
  src/app/post/pages/post-detailed/post-detailed.component.html
  src/app/post/pages/post-detailed/post-detailed.component.ts
  src/app/post/pages/posts/posts.component.html
  src/app/post/pages/posts/posts.component.ts
  src/app/post/services/post-facade/post-facade.service.ts
  src/app/post/services/post/post.service.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/constants/navigation-profile-page.ts
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/profile-facade/profile-facade.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: move error handling to the interceptor
  src/app/api/interceptors/http-interceptor.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/profiles/profiles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/auth/services/user/user.service.ts
  src/app/author/services/author/author.service.ts
  src/app/post/services/post/post.service.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/shared/services/image-upload/image-upload.service.ts
  src/app/shared/validators/username-availability.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: correctly display the page loader
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: update entities
  src/app/api/schemas/authors-response.ts
  src/app/api/schemas/posts-response.ts
  src/app/api/schemas/profiles-response.ts
  src/app/api/schemas/users-response.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: separate the current user's author's page from another one
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-info/author-info.component.html
  src/app/author/components/author-info/author-info.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.html
  src/app/author/pages/me-author/me-author.component.scss
  src/app/author/pages/me-author/me-author.component.ts
  src/app/post/components/coauthors-list/coauthors-list.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: separate the profile page of the current user from another one
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/components/profile-header/profile-header.component.ts
  src/app/profile/components/profile-info/profile-info.component.html
  src/app/profile/components/profile-info/profile-info.component.ts
  src/app/profile/components/profile-preview/profile-preview.component.ts
  src/app/profile/pages/me-profile/me-profile.component.html
  src/app/profile/pages/me-profile/me-profile.component.scss
  src/app/profile/pages/me-profile/me-profile.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/resolvers/profile.resolver.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: it is correct to separate the display of the author's posts from all posts
  src/app/author/resolvers/author.resolver.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/core/services/loader/loader.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/post/components/post-avatar/post-avatar.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.scss
  src/app/post/components/post/post.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.scss
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/constants/post-actions.ts
  src/app/post/pages/posts/posts.component.html
  src/app/post/pages/posts/posts.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: update routes according to current changes
  src/app/app.routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: remove intermediate services between components and api services
  src/app/api/schemas/authors-response.ts
  src/app/api/schemas/pagination-response.ts
  src/app/api/schemas/posts-response.ts
  src/app/api/schemas/profiles-response.ts
  src/app/api/schemas/users-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
  src/app/api/services/profiles/profiles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/auth/guards/login.guard.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/auth/services/user/user.service.ts
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.ts
  src/app/author/resolvers/author.resolver.ts
  src/app/author/services/author/author.service.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/post/components/coauthors-list/coauthors-list.component.ts
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/pages/post-detailed/post-detailed.component.ts
  src/app/post/pages/posts/posts.component.ts
  src/app/post/services/post/post.service.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/pages/me-profile/me-profile.component.ts
  src/app/profile/resolvers/profile.resolver.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/shared/validators/username-availability.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: configure post marked
  src/app/utils/arrays-equal.ts
  src/app/utils/configure-post-marked.ts
  src/app/utils/escapeHtml.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: data parse
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: update post
  src/app/author/pages/me-author/me-author.component.html
  src/app/author/pages/me-author/me-author.component.scss
  src/app/author/pages/me-author/me-author.component.ts
  src/app/post/components/post-avatar/post-avatar.component.html
  src/app/post/components/post-avatar/post-avatar.component.scss
  src/app/post/components/post-editor/post-editor.component.ts
  src/app/post/components/post-form/post-form.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/interfaces/post-form.ts
  src/app/post/pages/post-detailed/post-detailed.component.html
  src/app/post/pages/post-detailed/post-detailed.component.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.html
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.ts
  src/app/profile/pages/me-profile/me-profile.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

style: make the post style consistent
  src/app/post/components/post-avatar/post-avatar.component.html
  src/app/post/components/post-avatar/post-avatar.component.scss
  src/app/post/components/post-avatar/post-avatar.component.ts
  src/app/post/components/post-form/post-form.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.scss
  src/app/post/components/post/post.component.ts
  src/app/post/constants/post-actions.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/utils/arrays-equal.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

style: display the error text when trying to delete a post
  src/app/post/components/post/post.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement post search
  src/app/api/services/posts/posts.service.ts
  src/app/post/components/post-search/post-search.component.html
  src/app/post/components/post-search/post-search.component.scss
  src/app/post/components/post-search/post-search.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: create a component settings lists of posts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.html
  src/app/author/pages/me-author/me-author.component.scss
  src/app/author/pages/me-author/me-author.component.ts
  src/app/post/components/posts-settings/posts-settings.component.html
  src/app/post/components/posts-settings/posts-settings.component.scss
  src/app/post/components/posts-settings/posts-settings.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: eslint
  src/app/api/interfaces/pagination-query.ts
  src/app/post/components/post-search/post-search.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement post sort
  src/app/post/components/post-sort/post-sort.component.html
  src/app/post/components/post-sort/post-sort.component.scss
  src/app/post/components/post-sort/post-sort.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: posts loader
  src/app/api/services/posts/posts.service.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.html
  src/app/author/pages/me-author/me-author.component.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/post/components/post-search/post-search.component.html
  src/app/post/components/post-search/post-search.component.scss
  src/app/post/components/post-search/post-search.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/components/posts-settings/posts-settings.component.html
  src/app/post/components/posts-settings/posts-settings.component.scss
  src/app/post/components/posts-settings/posts-settings.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: use a loop to draw post loaders and paginations
  src/app/post/components/posts-list/posts-list.component.html
Due: prettier --write --ignore-unknown

feat: implement role guard
  src/app/api/services/roles/roles.service.ts
  src/app/app.routes.ts
  src/app/auth/constants/roles.ts
  src/app/auth/guards/login.guard.ts
  src/app/core/services/navigation/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement admin users page
  src/app/admin/components/users-list/users-list.component.html
  src/app/admin/components/users-list/users-list.component.scss
  src/app/admin/components/users-list/users-list.component.ts
  src/app/admin/layout/admin-layout/admin-layout.component.html
  src/app/admin/layout/admin-layout/admin-layout.component.scss
  src/app/admin/layout/admin-layout/admin-layout.component.ts
  src/app/admin/pages/users/users.component.html
  src/app/admin/pages/users/users.component.scss
  src/app/admin/pages/users/users.component.ts
  src/app/api/constants/endpoints.ts
  src/app/api/schemas/users-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/profiles/profiles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/profile/pages/me-profile/me-profile.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/services/constants/message.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post moderation
  src/app/admin/pages/users/users.component.html
  src/app/admin/pages/users/users.component.ts
  src/app/api/constants/endpoints.ts
  src/app/api/interfaces/pagination-query.ts
  src/app/api/schemas/moderation-history-response.ts
  src/app/api/schemas/post-history.ts
  src/app/api/schemas/posts-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
  src/app/api/services/roles/roles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/app.routes.ts
  src/app/auth/constants/roles.ts
  src/app/auth/guards/login.guard.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
  src/app/moderator/components/moderation-post/moderation-post.component.html
  src/app/moderator/components/moderation-post/moderation-post.component.scss
  src/app/moderator/components/moderation-post/moderation-post.component.ts
  src/app/moderator/layout/moderator-layout/moderator-layout.component.html
  src/app/moderator/layout/moderator-layout/moderator-layout.component.scss
  src/app/moderator/layout/moderator-layout/moderator-layout.component.ts
  src/app/moderator/pages/post-moderation-detailed/post-moderation-detailed.component.html
  src/app/moderator/pages/post-moderation-detailed/post-moderation-detailed.component.scss
  src/app/moderator/pages/post-moderation-detailed/post-moderation-detailed.component.ts
  src/app/moderator/pages/posts-moderation/posts-moderation.component.html
  src/app/moderator/pages/posts-moderation/posts-moderation.component.scss
  src/app/moderator/pages/posts-moderation/posts-moderation.component.ts
  src/app/shared/components/form-field-error/form-field-error.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: custom styles for the body of the post
  public/styles/common.scss
  public/styles/reset.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement forbidden page
  src/app/core/pages/forbidden/forbidden.component.html
  src/app/core/pages/forbidden/forbidden.component.scss
  src/app/core/pages/forbidden/forbidden.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

chore: increase the build limit
  angular.json
Due: prettier --write --ignore-unknown
