Repository Kleostro/RSSence-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{js,mjs,jsx,ts,tsx}": ["eslint --max-warnings 0 --no-warn-ignored"],
  "*.scss": "npx stylelint --fix"
}

feat: update registration with prime form
  public/styles/variables.scss
  src/app/auth/components/registration-form/registration-form.component.html
  src/app/auth/components/registration-form/registration-form.component.scss
  src/app/auth/components/registration-form/registration-form.component.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/services/navigation/routes.ts
  src/styles.scss
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: tests
  src/app/app.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
  src/app/shared/services/message.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement user login
  src/app/api/services/login/login.service.ts
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/pages/login/login.component.html
  src/app/auth/pages/login/login.component.scss
  src/app/auth/services/auth/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: tests
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: login form title
  src/app/auth/components/login-form/login-form.component.html
Due: prettier --write --ignore-unknown

feat: implement user logout
  src/app/api/interceptors/error-interceptor.ts
  src/app/api/interceptors/http-interceptor.ts
  src/app/api/schemas/auth-response.ts
  src/app/api/schemas/logout-response.ts
  src/app/api/services/logout/logout.service.ts
  src/app/api/services/token/token.service.ts
  src/app/app.config.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/constants/store-keys.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: remove unused api error
  src/app/api/interceptors/error-interceptor.ts
  src/app/api/models/api-error.ts
  src/app/api/schemas/api-error-response.ts
  src/app/api/schemas/overriden-http-response.ts
  src/app/app.config.ts
  src/app/auth/services/auth/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: tests
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: overridden http error response file name
  src/app/api/schemas/overriden-http-error-response.ts
  src/app/auth/services/auth/auth.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: replace complete with finalize
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/components/registration-form/registration-form.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement sidebar
  package.json
  src/app/api/interceptors/http-interceptor.ts
  src/app/app.routes.ts
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.scss
  src/app/core/components/sidebar/sidebar.component.spec.ts
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/core/services/navigation/routes.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/pages/profile/profile.component.ts
  src/styles.scss
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: test
  src/app/core/components/sidebar/sidebar.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: increase the budget
  angular.json
Due: prettier --write --ignore-unknown

fix: check current user
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: update navigation with profile pages
  src/app/api/constants/endpoints.ts
  src/app/app.routes.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: linter errors
  src/app/auth/guards/.gitkeep
  src/app/auth/guards/login.guard.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement profile api service
  src/app/api/schemas/profiles-response.ts
  src/app/api/services/profiles/profiles.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement profile pages
  src/app/auth/guards/login.guard.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile-settings/profile-settings.component.html
  src/app/profile/pages/profile-settings/profile-settings.component.scss
  src/app/profile/pages/profile-settings/profile-settings.component.spec.ts
  src/app/profile/pages/profile-settings/profile-settings.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/profile/profile.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: profile button in sidebar
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: add endpoint for username check
  src/app/api/constants/endpoints.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement profile form
  public/img/svg/avatar-placeholder.svg
  src/app/api/schemas/profiles-response.ts
  src/app/api/services/profiles/profiles.service.ts
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/shared/services/file-handling/file-handling.service.spec.ts
  src/app/shared/services/file-handling/file-handling.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: remove unused compnent
  src/app/auth/components/logout/logout.component.html
  src/app/auth/components/logout/logout.component.scss
  src/app/auth/components/logout/logout.component.spec.ts
  src/app/auth/components/logout/logout.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement directives for drag and drop
  src/app/shared/directives/base-drag-and-drop/base-drag-and-drop.directive.ts
  src/app/shared/directives/input-drag-and-drop/input-drag-and-drop.directive.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: move message service into folder
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/message/message.service.spec.ts
  src/app/shared/services/message/message.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement global loader for getting data
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.spec.ts
  src/app/core/components/header/header.component.ts
  src/app/core/services/loader/loader.service.spec.ts
  src/app/core/services/loader/loader.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement username check
  src/app/profile/validators/username-availability.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: display the profile info of the current user
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/profile/components/profile-bio/profile-bio.component.html
  src/app/profile/components/profile-bio/profile-bio.component.scss
  src/app/profile/components/profile-bio/profile-bio.component.spec.ts
  src/app/profile/components/profile-bio/profile-bio.component.ts
  src/app/profile/components/profile-header/profile-header.component.html
  src/app/profile/components/profile-header/profile-header.component.scss
  src/app/profile/components/profile-header/profile-header.component.spec.ts
  src/app/profile/components/profile-header/profile-header.component.ts
  src/app/profile/components/profile-preview/profile-preview.component.html
  src/app/profile/components/profile-preview/profile-preview.component.scss
  src/app/profile/components/profile-preview/profile-preview.component.spec.ts
  src/app/profile/components/profile-preview/profile-preview.component.ts
  src/app/profile/constants/profile-form.ts
  src/app/profile/interfaces/profile-form.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/utils/my-preset.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement author page
  src/app/api/constants/endpoints.ts
  src/app/api/schemas/authors-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/app.routes.ts
  src/app/author/pages/author-me/author-me.component.html
  src/app/author/pages/author-me/author-me.component.scss
  src/app/author/pages/author-me/author-me.component.spec.ts
  src/app/author/pages/author-me/author-me.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.spec.ts
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author/author.service.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement author form
  src/app/author/components/author-form/author-form.component.html
  src/app/author/components/author-form/author-form.component.scss
  src/app/author/components/author-form/author-form.component.spec.ts
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-preview/author-preview.component.html
  src/app/author/components/author-preview/author-preview.component.scss
  src/app/author/components/author-preview/author-preview.component.spec.ts
  src/app/author/components/author-preview/author-preview.component.ts
  src/app/author/constants/author-form.ts
  src/app/author/interfaces/author-form.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/file-handling/file-handling.service.ts
  src/app/shared/validators/username-availability.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: minor UI profile improvements
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: ensure reusability and improve code readability
  src/app/api/services/authors/authors.service.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.html
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.scss
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.spec.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.ts
  src/app/author/components/author-form/author-form.component.html
  src/app/author/components/author-form/author-form.component.scss
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-info/author-info.component.html
  src/app/author/components/author-info/author-info.component.scss
  src/app/author/components/author-info/author-info.component.spec.ts
  src/app/author/components/author-info/author-info.component.ts
  src/app/author/components/author-preview/author-preview.component.html
  src/app/author/components/author-preview/author-preview.component.scss
  src/app/author/components/author-preview/author-preview.component.ts
  src/app/author/constants/author-form.ts
  src/app/author/interfaces/author-form.ts
  src/app/author/pages/author-me/author-me.component.html
  src/app/author/pages/author-me/author-me.component.scss
  src/app/author/pages/author-me/author-me.component.spec.ts
  src/app/author/pages/author-me/author-me.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.ts
  src/app/author/services/author-facade/author-facade.service.spec.ts
  src/app/author/services/author-facade/author-facade.service.ts
  src/app/post/components/coauthors-list/coauthors-list.component.html
  src/app/post/components/coauthors-list/coauthors-list.component.scss
  src/app/post/components/coauthors-list/coauthors-list.component.spec.ts
  src/app/post/components/coauthors-list/coauthors-list.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: ensure reusability and improve code readability
  src/app/api/services/profiles/profiles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/auth/services/user/user.service.ts
  src/app/author/services/author/author.service.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.html
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.scss
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.spec.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.ts
  src/app/profile/components/profile-header/profile-header.component.html
  src/app/profile/components/profile-info/profile-info.component.html
  src/app/profile/components/profile-info/profile-info.component.scss
  src/app/profile/components/profile-info/profile-info.component.spec.ts
  src/app/profile/components/profile-info/profile-info.component.ts
  src/app/profile/components/profile-preview/profile-preview.component.html
  src/app/profile/constants/profile-form.ts
  src/app/profile/pages/profile-me/profile-me.component.html
  src/app/profile/pages/profile-me/profile-me.component.scss
  src/app/profile/pages/profile-me/profile-me.component.spec.ts
  src/app/profile/pages/profile-me/profile-me.component.ts
  src/app/profile/pages/profile-settings/profile-settings.component.html
  src/app/profile/pages/profile-settings/profile-settings.component.scss
  src/app/profile/pages/profile-settings/profile-settings.component.spec.ts
  src/app/profile/pages/profile-settings/profile-settings.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.scss
  src/app/profile/pages/profile/profile.component.ts
  src/app/profile/services/profile-facade/profile-facade.service.spec.ts
  src/app/profile/services/profile-facade/profile-facade.service.ts
  src/app/profile/services/profile/profile.service.ts
  src/app/profile/validators/username-availability.ts
  src/app/shared/validators/username-availability.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement modal component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/shared/components/modal/modal.component.html
  src/app/shared/components/modal/modal.component.scss
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/components/modal/modal.component.ts
  src/app/shared/constants/modal-position.ts
  src/app/shared/directives/modal-position/modal-position.directive.ts
  src/app/shared/models/modal-position.ts
  src/app/shared/services/modal/modal.service.spec.ts
  src/app/shared/services/modal/modal.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: improve code quality with new components
  src/app/core/components/header/header.component.html
  src/app/core/components/header/header.component.scss
  src/app/core/components/header/header.component.ts
  src/app/core/components/sidebar/sidebar.component.html
  src/app/core/components/sidebar/sidebar.component.ts
  src/app/profile/components/profile-form/profile-form.component.html
  src/app/profile/components/profile-form/profile-form.component.scss
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/shared/components/file-uploader/file-uploader.component.html
  src/app/shared/components/file-uploader/file-uploader.component.scss
  src/app/shared/components/file-uploader/file-uploader.component.spec.ts
  src/app/shared/components/file-uploader/file-uploader.component.ts
  src/app/shared/components/form-field-error/form-field-error.component.html
  src/app/shared/components/form-field-error/form-field-error.component.scss
  src/app/shared/components/form-field-error/form-field-error.component.spec.ts
  src/app/shared/components/form-field-error/form-field-error.component.ts
  src/app/shared/components/page-loader/page-loader.component.html
  src/app/shared/components/page-loader/page-loader.component.scss
  src/app/shared/components/page-loader/page-loader.component.spec.ts
  src/app/shared/components/page-loader/page-loader.component.ts
  src/app/shared/constants/field-error-key.ts
  src/app/shared/directives/base-drag-and-drop/base-drag-and-drop.directive.ts
  src/app/shared/pipes/time-ago.pipe.ts
  src/app/shared/services/constants/message.ts
  src/app/shared/services/file-handling/file-handling.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

fix: tests
  src/app/auth/services/auth/auth.service.spec.ts
  src/app/author/components/author-form-wrapper/author-form-wrapper.component.spec.ts
  src/app/author/components/author-info/author-info.component.spec.ts
  src/app/author/pages/author/author.component.spec.ts
  src/app/author/services/author-facade/author-facade.service.spec.ts
  src/app/core/components/header/header.component.spec.ts
  src/app/post/components/coauthors-list/coauthors-list.component.spec.ts
  src/app/post/components/post-avatar/post-avatar.component.spec.ts
  src/app/post/components/post-form/post-form.component.spec.ts
  src/app/post/components/post-preview/post-preview.component.spec.ts
  src/app/post/components/post/post.component.spec.ts
  src/app/post/components/posts-list/posts-list.component.spec.ts
  src/app/post/pages/post-detailed/post-detailed.component.spec.ts
  src/app/post/pages/posts/posts.component.spec.ts
  src/app/post/services/post-facade/post-facade.service.spec.ts
  src/app/profile/components/profile-form-wrapper/profile-form-wrapper.component.spec.ts
  src/app/profile/components/profile-info/profile-info.component.spec.ts
  src/app/profile/pages/profile/profile.component.spec.ts
  src/app/profile/services/profile-facade/profile-facade.service.spec.ts
  src/app/shared/components/file-uploader/file-uploader.component.spec.ts
  src/app/shared/components/form-field-error/form-field-error.component.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

chore: remove tests
  .github/workflows/test.yml
  angular.json
  eslint.config.js
  husky_scripts/validate-push.sh
  package.json
  setup-jest.ts
  src/app/api/services/refresh-token/refresh-token.service.spec.ts
  src/app/api/services/sign-up/sign-up.service.spec.ts
  src/app/api/services/token/token.service.spec.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/components/registration-form/registration-form.component.spec.ts
  src/app/auth/guards/login.guard.spec.ts
  src/app/auth/pages/login/login.component.spec.ts
  src/app/auth/pages/registration/registration.component.spec.ts
  src/app/author/components/author-form/author-form.component.spec.ts
  src/app/author/components/author-preview/author-preview.component.spec.ts
  src/app/core/components/sidebar/sidebar.component.spec.ts
  src/app/core/pages/not-found/not-found.component.spec.ts
  src/app/core/services/loader/loader.service.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/core/services/theme-switch/theme-switch.service.spec.ts
  src/app/home/pages/home/home.component.spec.ts
  src/app/profile/components/profile-bio/profile-bio.component.spec.ts
  src/app/profile/components/profile-form/profile-form.component.spec.ts
  src/app/profile/components/profile-header/profile-header.component.spec.ts
  src/app/profile/components/profile-preview/profile-preview.component.spec.ts
  src/app/shared/components/modal/modal.component.spec.ts
  src/app/shared/components/page-loader/page-loader.component.spec.ts
  src/app/shared/services/file-handling/file-handling.service.spec.ts
  src/app/shared/services/message/message.service.spec.ts
  src/app/shared/services/modal/modal.service.spec.ts
  src/app/utils/tests/trim-data.spec.ts
  tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

ci: update branch validation pattern
  .validate-branch-namerc.cjs
Due: prettier --write --ignore-unknown

docs: update PR template
  .github/pull_request_template.md
Due: prettier --write --ignore-unknown

ci: update labeler
  .github/labeler.yml
Due: prettier --write --ignore-unknown
