Repository Kleostro/RSSence-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post version pages
  src/app/app.routes.ts
  src/app/author/resolvers/author.resolver.ts
  src/app/core/services/navigation/routes.ts
  src/app/post/guards/post-author.guard.ts
  src/app/post/guards/post-main-author.guard.ts
  src/app/post/pages/post-version-diff/post-version-diff.component.html
  src/app/post/pages/post-version-diff/post-version-diff.component.scss
  src/app/post/pages/post-version-diff/post-version-diff.component.ts
  src/app/post/pages/post-versions/post-versions.component.html
  src/app/post/pages/post-versions/post-versions.component.scss
  src/app/post/pages/post-versions/post-versions.component.ts
  src/app/profile/resolvers/profile.resolver.ts
  src/app/shared/services/constants/message.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post version timeline
  src/app/api/constants/endpoints.ts
  src/app/api/schemas/authors-response.ts
  src/app/api/schemas/post-history.ts
  src/app/api/schemas/post-version-diff-response.ts
  src/app/api/schemas/post-version-response.ts
  src/app/api/schemas/posts-response.ts
  src/app/api/schemas/profiles-response.ts
  src/app/api/schemas/users-response.ts
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/post/components/post-history-timeline/post-history-timeline.component.html
  src/app/post/components/post-version-timeline/post-version-timeline.component.html
  src/app/post/components/post-version-timeline/post-version-timeline.component.scss
  src/app/post/components/post-version-timeline/post-version-timeline.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: make edits and synchronize changes with models
  src/app/admin/components/users-list/users-list.component.html
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/components/author-info/author-info.component.html
  src/app/author/components/author-info/author-info.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.scss
  src/app/author/pages/me-author/me-author.component.ts
  src/app/constants/post-tab.ts
  src/app/moderator/components/moderation-post/moderation-post.component.html
  src/app/post/components/post-search/post-search.component.scss
  src/app/post/components/post-sort/post-sort.component.scss
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/profile/components/profile-form/profile-form.component.ts
  src/app/profile/components/profile-info/profile-info.component.html
  src/app/profile/components/profile-info/profile-info.component.ts
  src/app/profile/pages/profile/profile.component.html
  src/app/profile/pages/profile/profile.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post filter
  src/app/post/components/post-filter/post-filter.component.html
  src/app/post/components/post-filter/post-filter.component.scss
  src/app/post/components/post-filter/post-filter.component.ts
  src/app/post/components/post-search/post-search.component.html
  src/app/post/components/post-search/post-search.component.scss
  src/app/post/components/post-search/post-search.component.ts
  src/app/post/components/post-sort/post-sort.component.html
  src/app/post/components/post-sort/post-sort.component.ts
  src/app/post/components/post-sorting-order/post-sorting-order.component.html
  src/app/post/components/post-sorting-order/post-sorting-order.component.scss
  src/app/post/components/post-sorting-order/post-sorting-order.component.ts
  src/app/post/components/post-sorting/post-sorting.component.html
  src/app/post/components/post-sorting/post-sorting.component.scss
  src/app/post/components/post-sorting/post-sorting.component.ts
  src/app/post/components/posts-list/posts-list.component.html
  src/app/post/components/posts-list/posts-list.component.scss
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/components/posts-settings/posts-settings.component.html
  src/app/post/components/posts-settings/posts-settings.component.scss
  src/app/post/components/posts-settings/posts-settings.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement http params builder
  src/app/api/services/authors/authors.service.ts
  src/app/api/services/posts/posts.service.ts
  src/app/utils/http-params.ts
  src/app/utils/parse-boolean-param.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: optimaze resolvers
  src/app/author/resolvers/author.resolver.ts
  src/app/post/guards/post-author.guard.ts
  src/app/post/guards/post-main-author.guard.ts
  src/app/profile/resolvers/profile.resolver.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: to remove page reloading when changing query parameters
  src/app/core/services/loader/loader.service.ts
  src/app/core/services/navigation/navigation.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement the verification of the post title according to the pattern
  src/app/constants/field-error-key.ts
  src/app/constants/post-form.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: synchronize schemas with the backend
  src/app/admin/components/users-list/users-list.component.html
  src/app/admin/pages/users/users.component.html
  src/app/admin/pages/users/users.component.ts
  src/app/api/constants/endpoints.ts
  src/app/api/interfaces/author/author-contributions.ts
  src/app/api/interfaces/pagination-query.ts
  src/app/api/interfaces/post-query.ts
  src/app/api/interfaces/post/post-statuses.ts
  src/app/api/schemas/moderation-history-response.ts
  src/app/api/schemas/pagination-response.ts
  src/app/api/schemas/posts-response.ts
  src/app/app.config.ts
  src/app/constants/post-action.ts
  src/app/constants/post-tab.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: improve the UI of posts
  src/app/author/components/author-form/author-form.component.ts
  src/app/author/pages/author/author.component.html
  src/app/author/pages/author/author.component.scss
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.html
  src/app/author/pages/me-author/me-author.component.scss
  src/app/author/pages/me-author/me-author.component.ts
  src/app/moderator/components/moderation-post/moderation-post.component.html
  src/app/moderator/components/moderation-post/moderation-post.component.ts
  src/app/moderator/pages/post-moderation-detailed/post-moderation-detailed.component.ts
  src/app/moderator/pages/posts-moderation/posts-moderation.component.html
  src/app/moderator/pages/posts-moderation/posts-moderation.component.ts
  src/app/post/components/coauthors-list/coauthors-list.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post-reject/post-reject.component.ts
  src/app/post/components/post-revision/post-revision.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.scss
  src/app/post/components/post/post.component.ts
  src/app/post/pages/post-detailed/post-detailed.component.ts
  src/app/post/pages/post-versions/post-versions.component.ts
  src/app/post/pages/posts/posts.component.html
  src/app/post/pages/posts/posts.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post views
  src/app/api/schemas/posts-response.ts
  src/app/post/components/post-views/post-views.component.html
  src/app/post/components/post-views/post-views.component.scss
  src/app/post/components/post-views/post-views.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: separate the footer of the post into a separate component
  src/app/post/components/post-footer/post-footer.component.html
  src/app/post/components/post-footer/post-footer.component.scss
  src/app/post/components/post-footer/post-footer.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: separate the body of the post into a separate component
  src/app/post/components/post-body/post-body.component.html
  src/app/post/components/post-body/post-body.component.scss
  src/app/post/components/post-body/post-body.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.scss
  src/app/post/components/post/post.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement post sort by views
  src/app/post/components/post-sorting/post-sorting.component.ts
  src/app/post/components/posts-settings/posts-settings.component.scss
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: time constants
  src/app/constants/time.ts
  src/app/post/components/post-filter/post-filter.component.ts
  src/app/post/components/post-search/post-search.component.ts
  src/app/shared/pipes/time-ago.pipe.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement post analytics page
  package.json
  src/app/api/interfaces/post-analytics-query.ts
  src/app/api/schemas/post-view-daily-stat-response.ts
  src/app/api/services/posts/posts.service.ts
  src/app/app.routes.ts
  src/app/author/pages/me-author/me-author.component.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/navigation/routes.ts
  src/app/post/components/post-views-analytics/post-views-analytics.component.html
  src/app/post/components/post-views-analytics/post-views-analytics.component.scss
  src/app/post/components/post-views-analytics/post-views-analytics.component.ts
  src/app/post/components/post-views/post-views.component.html
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/post/guards/post-author.guard.ts
  src/app/post/guards/post-main-author.guard.ts
  src/app/post/pages/post-analytics/post-analytics.component.html
  src/app/post/pages/post-analytics/post-analytics.component.scss
  src/app/post/pages/post-analytics/post-analytics.component.ts
  src/app/utils/to-utc-date-string.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: separate the footer from the body of the post
  src/app/post/components/post-views/post-views.component.html
  src/app/post/components/post-views/post-views.component.scss
  src/app/post/components/post/post.component.scss
  src/app/post/components/posts-list/posts-list.component.scss
  src/app/post/pages/post-analytics/post-analytics.component.html
  src/app/post/pages/post-analytics/post-analytics.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

refactor: break the post's response scheme into its component parts
  src/app/api/constants/endpoints.ts
  src/app/api/constants/parts.ts
  src/app/api/interfaces/post/comment-query.ts
  src/app/api/schemas/post/current-dat-post-views-stats.ts
  src/app/api/schemas/post/current-day-post-comments-stats.ts
  src/app/api/schemas/post/post-author.ts
  src/app/api/schemas/post/post-comment-aggregation.ts
  src/app/api/schemas/post/post-comment-daily-stat-response.ts
  src/app/api/schemas/post/post-comment-response.ts
  src/app/api/schemas/post/post-history.ts
  src/app/api/schemas/post/post-version-diff-response.ts
  src/app/api/schemas/post/post-version-response.ts
  src/app/api/schemas/post/post-view-aggregation.ts
  src/app/api/schemas/post/post-view-daily-stat-response.ts
  src/app/api/schemas/post/posts-response.ts
  src/app/api/schemas/posts-response.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: break the post service into its component parts
  src/app/api/interceptors/http-interceptor.ts
  src/app/api/services/posts/posts.service.ts
  src/app/api/services/posts/services/post-analytics.service.ts
  src/app/api/services/posts/services/post-versions.service.ts
  src/app/api/utils/build-api-url.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement the logic of comments under posts
  src/app/api/services/posts/services/post-comments.service.ts
  src/app/constants/post-comment-form.ts
  src/app/post/components/post-comment-form/post-comment-form.component.html
  src/app/post/components/post-comment-form/post-comment-form.component.scss
  src/app/post/components/post-comment-form/post-comment-form.component.ts
  src/app/post/components/post-comment-loader/post-comment-loader.component.html
  src/app/post/components/post-comment-loader/post-comment-loader.component.scss
  src/app/post/components/post-comment-loader/post-comment-loader.component.ts
  src/app/post/components/post-comment/post-comment.component.html
  src/app/post/components/post-comment/post-comment.component.scss
  src/app/post/components/post-comment/post-comment.component.ts
  src/app/post/components/post-comments-analytics/post-comments-analytics.component.html
  src/app/post/components/post-comments-analytics/post-comments-analytics.component.scss
  src/app/post/components/post-comments-analytics/post-comments-analytics.component.ts
  src/app/post/components/post-comments-list/post-comments-list.component.html
  src/app/post/components/post-comments-list/post-comments-list.component.scss
  src/app/post/components/post-comments-list/post-comments-list.component.ts
  src/app/post/components/post-comments/post-comments.component.html
  src/app/post/components/post-comments/post-comments.component.scss
  src/app/post/components/post-comments/post-comments.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.scss
  src/app/post/components/post/post.component.ts
  src/app/post/pages/posts/posts.component.ts
  src/app/post/services/comment.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

refactor: separate post component
  src/app/author/pages/author/author.component.ts
  src/app/author/pages/me-author/me-author.component.ts
  src/app/moderator/components/moderation-post/moderation-post.component.html
  src/app/moderator/components/moderation-post/moderation-post.component.ts
  src/app/moderator/pages/post-moderation-detailed/post-moderation-detailed.component.ts
  src/app/moderator/pages/posts-moderation/posts-moderation.component.ts
  src/app/post/components/post-body/post-body.component.html
  src/app/post/components/post-body/post-body.component.ts
  src/app/post/components/post-footer/post-footer.component.html
  src/app/post/components/post-footer/post-footer.component.scss
  src/app/post/components/post-footer/post-footer.component.ts
  src/app/post/components/post-form/post-form.component.html
  src/app/post/components/post-form/post-form.component.ts
  src/app/post/components/post-history-timeline/post-history-timeline.component.ts
  src/app/post/components/post-version-timeline/post-version-timeline.component.ts
  src/app/post/components/post-views-analytics/post-views-analytics.component.html
  src/app/post/components/post-views-analytics/post-views-analytics.component.scss
  src/app/post/components/post-views-analytics/post-views-analytics.component.ts
  src/app/post/components/post-views/post-views.component.html
  src/app/post/components/post-views/post-views.component.scss
  src/app/post/components/post-views/post-views.component.ts
  src/app/post/components/posts-list/posts-list.component.ts
  src/app/post/pages/post-analytics/post-analytics.component.html
  src/app/post/pages/post-analytics/post-analytics.component.scss
  src/app/post/pages/post-analytics/post-analytics.component.ts
  src/app/post/pages/post-detailed/post-detailed.component.html
  src/app/post/pages/post-detailed/post-detailed.component.scss
  src/app/post/pages/post-detailed/post-detailed.component.ts
  src/app/post/pages/post-version-diff/post-version-diff.component.ts
  src/app/post/pages/post-versions/post-versions.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

feat: implement refresh interceptor
  src/app/api/interceptors/refresh-interceptor.ts
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

refactor: update url creation
  package.json
  src/app/api/constants/endpoints.ts
  src/app/api/constants/parts.ts
  src/app/api/services/login/login.service.ts
  src/app/api/services/logout/logout.service.ts
  src/app/api/services/posts/services/post-versions.service.ts
  src/app/api/services/refresh-token/refresh-token.service.ts
  src/app/api/services/sign-up/sign-up.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

feat: implement page guards
  src/app/api/constants/parts.ts
  src/app/api/interceptors/http-interceptor.ts
  src/app/api/schemas/roles-response.ts
  src/app/api/schemas/users-response.ts
  src/app/api/services/posts/posts.service.ts
  src/app/api/services/posts/services/post-analytics.service.ts
  src/app/api/services/roles/roles.service.ts
  src/app/api/services/users/users.service.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/auth/guards/login.guard.ts
  src/app/auth/services/auth/auth.service.ts
  src/app/post/guards/post-author.guard.ts
  src/app/post/guards/post-main-author.guard.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored

fix: time ago pipe
  src/app/admin/components/users-list/users-list.component.html
  src/app/author/pages/author/author.component.ts
  src/app/constants/time.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/core/services/theme-switch/theme-switch.service.ts
  src/app/moderator/pages/posts-moderation/posts-moderation.component.ts
  src/app/post/components/post-comment/post-comment.component.html
  src/app/post/components/post-comment/post-comment.component.scss
  src/app/post/components/post-comment/post-comment.component.ts
  src/app/post/components/post-comments-analytics/post-comments-analytics.component.html
  src/app/post/components/post-comments-analytics/post-comments-analytics.component.ts
  src/app/post/components/post-filter/post-filter.component.ts
  src/app/post/components/post-history-timeline/post-history-timeline.component.html
  src/app/post/components/post-history-timeline/post-history-timeline.component.scss
  src/app/post/components/post-search/post-search.component.ts
  src/app/post/components/post-views-analytics/post-views-analytics.component.html
  src/app/post/components/post-views-analytics/post-views-analytics.component.ts
  src/app/post/components/post/post.component.html
  src/app/post/components/post/post.component.ts
  src/app/post/pages/post-analytics/post-analytics.component.ts
  src/app/shared/pipes/time-ago.pipe.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0 --no-warn-ignored, npx stylelint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *
  eslint --max-warnings 0 --no-warn-ignored: any of: *.{js,mjs,jsx,ts,tsx}
  npx stylelint --fix: any of: *.scss
